body {
    font-size: 15pt;
}

h1 {
    font-family: 'times', sans-serif;
    color: lawngreen;
    font: larger;
}

h2 {
    color: limegreen;
    font-size: large;
}

p {
    color: blanchedalmond;
}

img {
    width: 100%;
    height: 72%;
}


.ms-auto {
    color: blue;
}

h5 {
    font-family: 'Montserrat', sans-serif;
}

#prank {
    color: blanchedalmond;
    text-decoration: none;
}